App_Data/reis.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="reisedata">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="trip" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="destination" type="xs:string"/>
							<xs:element name="rating" type="xs:decimal"/>
							<xs:element name="transport">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="flight" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="airport" type="xs:string" minOccurs="0"/>
													<xs:element name="number" type="xs:string" minOccurs="0"/>
													<xs:element name="price" type="xs:decimal" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="train" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="price" type="xs:decimal" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>

							<xs:element name="accommodation">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="hotel">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="name" type="xs:string"/>
													<xs:element name="stars" type="xs:int"/>
													<xs:element name="price" type="xs:decimal"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>

							<xs:element name="excursions">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="total" type="xs:decimal"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>

							<xs:element name="meals">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="total" type="xs:decimal"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>

							<xs:element name="insurance">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="total" type="xs:decimal"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>

							<xs:element name="other">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="total" type="xs:decimal"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>

							<xs:element name="note" type="xs:string" minOccurs="0"/>

						</xs:sequence>
						<xs:attribute name="id" type="xs:int" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>
